
#conteneurpoke {
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-bottom: 1%;
    background-color: #edf2f4;
    padding: 1%;
    border-radius: 25px;
    width: 10%;
    /* min-height: 16vh;
    max-height: 26vh; */
}

#listpoke {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
}


#conteneurpoke button{
    height: 3%;
    max-height: 4%;
    width: auto;
    border-radius: 25px;
    background-color: #2b2d42;
    position: relative;
    right: 14%;
    top: 0.6vh;
}

#imagepoke {
    min-height: 14vh;
    min-width: 100%;
    /* margin-bottom: 2%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8d99ae;
}
#imagepoke h6 {
    position: relative;
    bottom: 0.4vh;
    border: 3px solid #2b2d42;
    border-radius: 25px 25px 0px 0px;
    background-color: #2b2d42;
    color: #edf2f4;
    width: 100%;
}


#changeGen {
    position: relative;
    bottom: 80px;
}

#changeGen button{    
    margin-left: 2%;
    padding: 0.3%;
    border-radius: 25px;
}

#listpoke button:hover{    
    background-color: #ef233c;
}


#base {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid #2b2d42;
    padding: 4%;
}

#ligne1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ligne2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    border: 4px double black;
    padding: 2%;
    width: 22%;
}
#type1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#type2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ligne3 {
    margin: 4% 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: lightgrey;
    border-radius: 25px;
}

#ligne4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ligne4 td {
    border: 1px solid black;
}

td{
    padding: 6px;
}

#tr1 {
    background-color: gray;
    color: #edf2f4;
}



#favorite_list {
    color: #2b2d42;
    background-color: #edf2f4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2% 2% 3% 2%;
    gap: 3vh;
    min-height: 290vh;
    border-right: 6px solid #8d99ae;
    float: left;
    /* border-radius: 0px 25px 25px 0px; */
    min-width: 28vh;
    position: relative;
    /* bottom: 10%; */
    border-radius: 0px 0px 25px 0px;
}

.recipe__card {
    background-color: #edf2f4;
    color: #282c34;
    padding: 3% 1% 8% 1%;
    border-radius: 25px;
    border: 2px solid #2b2d42;
}
.recipe__card button {
    border-radius: 25px;
    font-size: 12px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ef233c;
    color: #edf2f4;
}
.recipe__card button:hover {
    background-color: #8d99ae;
}

#boutonfav {
    width: 40px;
    height: 5%;
    color: #edf2f4;
}

#titre_favoris {
    color: #2b2d42;
    position: relative;
    bottom: 1vh;
    font-weight: 700;
    font-size: 2.4em;
    border-bottom: 4px double #2b2d42;
    padding-bottom: 3%;
}




h1 {
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 3em;
    color: #edf2f4;
  }




/* SIDEMENU RETRACTABLE */
.card card-body {
    width: 300px
}

#test {
    min-height: 120px;
}