body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.carousel-control-prev {
  /* margin-left: -46rem; */
  background-color: rgba(43, 42, 42, 0.862);
}

a.carousel-control-next {
  /* margin-right: -46rem; */
  background-color: rgba(43, 42, 42, 0.862);
}

h5{
  text-align: center;
}

